# --- STM32 & CubeIDE Build Outputs ---
Debug/
Release/
*.o
*.d
*.elf
*.bin
*.hex
*.map
*.lst

# IDE Settings
.settings/
*.launch

# --- Python & VS Code Cache ---
__pycache__/
*.py[cod]
*$py.class
.vscode/

# --- Temporary System Files ---
.DS_Store
Thumbs.db